.THIS .outerbox {
    /*display : flex !important;
    justify-content : center !important;
    align-items : center !important;
    */
    background : #000 !important;
}

.THIS .headingText{
    font-weight: 600;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    overflow: hidden;
    background: linear-gradient(90deg,#ED1C24,#ED1C24,#fff);
    background-size: 80%;
    background-repeat: no-repeat;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(237, 28, 36, .25);
}

@keyframes animate{
    0%
    {
        background-position : -500%;
    }
    100%
    {
        background-position : 500%;
    }
}